.help-block {
  display: flex;
  padding-bottom: 50px;
}

.help-text {
  font-size: 18px;
  flex: 2;
  padding-right: 20px;
}

.help-image {
  flex: 1;
  img {
    border: solid 1px #ccc;
    padding: 0;
    margin: 0;
  }
}